<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
  <div>
    <link href="./home.css" rel="stylesheet" />
    <div class="home-container">
      <div class="home-container1">
        <h1 class="home-text">Olympic Medal Predictor</h1>
      </div>
      <a
        href="https://cdn.dribbble.com/users/234969/screenshots/5404808/medallion_burst_animation.gif"
        target="_blank"
        rel="noreferrer noopener"
        class="home-link"
      >
        <img
          src="https://cdn.dribbble.com/users/234969/screenshots/5404808/medallion_burst_animation.gif"
          alt="image"
          class="home-image"
        />
      </a>
    </div>
  </div>
  
 <div class="login">
	<h1>Olympic Medal Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Atheletes" placeholder="no: of Atheletes" required="required" />
        <input type="text" name="Previous_Medals" placeholder="Previous Medals" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>